/*General styles*/
body {
	background-color: rgb(249,249,249);
	font-family: arial,helvetica,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.no-padding {
	padding: 0;
}

.padding-left-none {
	padding-left: 0;
}

.padding-right-none {
	padding-right: 0;
}

.hidden {
	display: none;
}

.clear-both {
	clear: both;
}

fieldset {
	border: 1px solid rgb(221,221,221);
	padding: 0 30px 30px 30px;
	margin: 0 0 20px 0;
}

fieldset legend {
	border: none;
	display: inline;
	width: inherit;
	text-align: center;
}

textarea {
    resize: vertical;
    height: 150px;
	max-height: 250px;
}

#content {
	margin-bottom: 350px;	
}

label.error {
	background-color: rgb(255,139,139);
	padding: 5px;
	color: white;
	position: absolute;
	z-index: 2;
	font-weight: normal;
	font-style: italic;
	border-radius: 3px;
	margin-top: 2px;
}

label.error::after {
	border-color: transparent transparent rgb(255, 139, 139);
    border-style: solid;
    border-width: 0 8px 8px;
    content: "";
    display: block;
    height: 0;
    left: 20px;
    position: absolute;
    top: -8px;
    width: 0;
}

/*Front page*/
.front-buttons-container {
	top: 50%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.front-buttons-container div {
	text-align: center;
}

.btn-block {
	display: block;
	width: 100%;
	height: 150px;
	margin-top: -75px;
	font-weight: bold;
	border-radius: 25px;
	border: 1px solid;
	line-height: 150px;
}

/*Quotes Form*/
.select2-container.form-control {
	padding: 0;
	height: 100%;
	margin-bottom: 10px;
}

#accessorials {
	display: none;
}

.button-holder {
	text-align: center;
}

#liftgate-dest-container, #liftgate-origin-container, #inside-pickup-container,  #inside-delivery-container, #inside-pickup-container {
	display: none;
}

/*Tabs*/
#tabs {
	background: inherit;
	border: none;
}

/*Items*/
#tabs {
	margin-bottom: 10px;
}

.btn-remove {
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
}

/*select2*/
span.select2.select2-container.select2-container--default {
	width: 100% !important;
}
/*.select2 select2-container*/
/*width: 534px;*/

/*Calculator*/
.calculator-container {
	background-color: rgb(242,242,242);
	border: 1px solid silver;
	padding: 12px;
	margin-top: 10px;
	border-radius: 5px;
}

.calculator-container img {
	float: left;
	max-height: 40px;
	margin-right: 20px;
}

/*Rates*/
#rates #rates-header h2 {
	border-bottom: 1px solid;
}


#rates #rates-header .carrier-name, #rates #rates-header .service-type {
	border-bottom: 1px dotted;
}

.carrier-name {	
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#rates #rates-header .carrier-name {
	height: 35px;
}

#rates #rates-header .rate { 
	line-height: 35px;
}

#rates #rates-header .days, #rates #rates-header .price  {
	padding: 5px 5px 5px 15px;
} 

#fastest-delivery .rate {
	margin-top: 20px;
}

.rate, .rate-error {
	display: block;
	min-height: 65px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	line-height: 65px;
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid silver;
	background-color: white;
}

.carrier-name, .service-type, .days {
	text-align: left;
}

.price {
	text-align: right;
}

.glyphicon.glyphicon-time {
	font-size: 12px;
	margin-right: 3px;
}

.glyphicon.glyphicon-download, .service-option {
	font-size: 12px;
	margin-left: 3px;
}

.glyphicon.glyphicon-usd {
	font-size: 15px;
}

.rate-error {
	display: none;
}

.error-header {
	font-size: 25px;
	margin: 15px 0 15px 0;
}

.price-btn {
	line-height: 40px;
	width: 100%;
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%) repeat scroll 0 0;
    border-color: #ccc #ccc #bbbbbb;
    border-image: none;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    color: #777;
}

.price-btn:hover {
	border-color: black;
	color: black;
}

#number-of-errors {
	color: darkred;
	font-weight: bold;
}

.show-hidden-rates, .hidden-rate {
    cursor: pointer;
}

.hidden-rate {
	margin-top: -10px;
	border-bottom: none;
	border-top: none;
	border-radius: 0;
}

#loading-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 991px) {
	.carrier-name, .service-type {
		border-bottom: 1px dotted;
	}

	.rate, .rate-error { 
		line-height: 35px;
	}
}

@media (max-width: 1200px) {
	#rates-header {
		display: none;
	}
}

/*SHIPMENT FORM*/
#quote-info{
	margin: 30px 15px 30px 15px;
	padding: 10px;
}

#quote-info span.glyphicon-usd {
	font-size: 12px;
}

#quote-info div {
	text-align: center;
	border-right: 1px solid;
	font-size: 15px;
}

#quote-info div:last-of-type { 
	border-right: none;
}

#shipment-items {
	margin-top: 50px;
}

.shipment-item {
	border: 1px solid;
	margin-bottom: 30px;
}

.shipment-item .edit-item-btn {
	padding: 15px 0 15px 0;
	background-color: rgb(245,250,252);
	border: 1px;
}

.shipment-item .shipment-item-info {
	padding: 16px;
	border-bottom: 1px solid;
}

#shipment-items .col-md-2 {
	text-align: center;
}

#shipment-items .col-md-2 button {
	background: none;
	border: none;
}

.shipment-item .info-span {
	padding: 5px;
	border-right: 1px solid;
}

.shipment-item .info-span:last-of-type {
	border-right: none;
}

#delivery-send-copy {
	display: none;
}

#pickup-send-copy {
	display: none;
}

.item-data-container {
	padding: 30px;
}

/*div.row.item-second-row {
    display: table;
}*/
/*
div.row.item-second-row div[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}*/

.item-number-container {
	background-color: cornflowerblue;
	border-right: 1px solid;
	vertical-align: middle;
}

span.glyphicon.glyphicon-stop.origin {
	color: rgb(217,237,247);
	background-color: rgb(217,237,247);
}

span.glyphicon.glyphicon-stop.dest {
	color: rgb(223,240,216);
	background-color: rgb(223,240,216);
}

#shipment-form input.origin {
	background-color: rgb(217,237,247);	
}

#shipment-form input.dest {
	background-color: rgb(223,240,216);
}




























